#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 2em;
  background-color: rgb(255, 157, 206);
  border-radius: 10px;
}

#puppy-buttons {
  color: rgb(102, 0, 145);
  padding: 8px;
  cursor: pointer;
  background-color: rgb(203, 107, 155);
  border-radius: 5px;
}

#puppy-buttons:hover {
  background-color: rgb(224, 130, 255);
}

.puppy-info {
  width: 80%;
  padding: 2em;
  margin-top: 2em;
  background-color: rgb(255, 157, 206);
  border-radius: 10px;
}

li {
  display: flex;
  list-style: none;
}

h2 {
  color: rgb(102, 0, 145);
  text-align: center;
}